@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Stem Text";
  src: url("//cdn.evilmartians.com/front/fonts/subset-StemText-Regular.woff") format("woff");
}
@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: "Stem Text";
  src: url("//cdn.evilmartians.com/front/fonts/subset-StemText-Bold.woff") format("woff");
}

@font-face {
  font-family: "Fira Code";
  src: url("./fonts/FiraCode-Regular.woff") format("woff");
}

:root {
  --theme-color: #ff5e5e;
  --theme-color-light: #fd7373;
  --theme-color-dark: #f64242;
  --theme-color-secondary: #ff5e5e;
  --theme-color-secondary-dark: #f64242;
  --theme-color-secondary-light: #fd7373;

  --background-color: #fff;
  --background-light: #fff;

  --text-color-base: #363636;
  --text-color-secondary: #646473;
  --text-color-active: #111;
  --text-color-header: #2c3e50;


  --border-color: #ccccccbb;

  --menu-weight: 400;

  --shadow-color: rgb(165, 165, 165);
}

.is-dark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-color-secondary: #fcf9f9;
    --theme-color-secondary-dark: #f7f5f5;
    --theme-color-secondary-light: #f64242;

    --background-color: #000;
    --background-light: #2a2a2a;

    --text-color-base: #f3f2f2;
    --text-color-secondary: #fac8c8;
    --text-color-active: #f64242;
    --text-color-header: #f64242;

    --border-color: #f64242bb;

    --menu-weight: 600;

    --shadow-color: var(--background-color);
  }

  .is-light {
    display: none !important;
  }

  .is-dark {
    display: initial;
  }
}

::selection {
  background: var(--theme-color-light);
}

body {
  font-size: 100%;
  font: 18px/30px "Stem Text", "Arial", sans-serif;
  color: var(--text-color-base);
  background-color: var(--background-color);
}

* {
  text-decoration: none !important;
}

a {
  transition: all 0.3s linear;
  border-bottom: none !important;
}

.github-corner svg {
  fill: var(--theme-color);
}

.chart-container {
  padding: 1em 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.captioned-figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-logo {
  margin-left: 20px;
}

aside.sidebar {
  border: none;
  background-color: var(--background-light);
  color: var(--text-color-base);
  width: 20%;
  border-right: 1px solid var(--border-color);
}

body.close .sidebar {
  transform: translateX(-100%);
}

.sidebar-version-select {
  font-size: 1rem;
}

.sidebar ul li a {
  color: var(--theme-color-secondary);
  font-size: 1rem;
  font-weight: var(--menu-weight);
}

.sidebar ul li.active>a {
  border-width: 0.1rem;
}

.sidebar ul li a:hover {
  text-decoration: none;
  color: var(--theme-color-dark);
}

.sidebar .sidebar-nav ul li.active>a {
  color: var(--text-color-active);
  border-right: 0.2rem solid var(--theme-color-secondary-light);
}


.sidebar > h1 {
  font-size: 2rem;
}

.sidebar-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 15px;
  justify-content: center
}

.sidebar-logo-title {
  margin-left: 10px;
}

/* search plugin related */

.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar > h1 {
  order: 1;
  margin-top: 1.5rem;
}

.sidebar .search {
  order: 2;
  margin: 1.5rem 0 0 0;
  border: none;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 6px;
}

.sidebar .sidebar-nav {
  order: 3;
}

.sidebar .search .input-wrap {
  border: none;
  position: relative;
}


.sidebar .search .input-wrap input {
  background: var(--background-color-light);
  color: var(--text-color-base);
}

.sidebar .search .clear-button.show {
  display: block;
  position: absolute;
  right: 4px;
  top: 8px;
}

body .sidebar-toggle {
  background: none;
  bottom: 1rem;
  left: 1rem;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
}

body .sidebar-toggle span {
  transition: all 0.3s linear;
  background-color: var(--text-color-active);
  height: 0.25rem;
  width: 1.5rem;
  position: absolute;
  left: 0;
  margin: 0;
  transform-origin: 0;
}

body.close .sidebar-toggle {
  width: 1.5rem;
  height: 1.5rem;
}

body.close .sidebar-toggle span {
  transform-origin: center;
  background-color: var(--theme-color-secondary);
}

body .sidebar-toggle span:nth-child(1) { top:0; }
body .sidebar-toggle span:nth-child(2) { top:0.65rem; }
body .sidebar-toggle span:nth-child(3) { top:1.25rem; }

.sidebar-toggle .sidebar-toggle-button:hover { opacity: 1; }

.sidebar-toggle:hover span:nth-child(1) { transform: rotate(45deg); width: 1.75rem; }
.sidebar-toggle:hover span:nth-child(2) { opacity: 0; }
.sidebar-toggle:hover span:nth-child(3) { transform: rotate(-45deg); width: 1.75rem; }

.close .sidebar-toggle:hover span:nth-child(1) { transform:rotate(0); width:1.5rem; top:0.65rem; }
.close .sidebar-toggle:hover span:nth-child(2) { opacity: 1; transform:rotate(90deg); }
.close .sidebar-toggle:hover span:nth-child(3) { transform:rotate(0); width:1.5rem; top:0.65rem; }

th {
  text-align: left;
}

.markdown-section blockquote {
  margin: 1em 0;
}

.markdown-section em,
.markdown-section blockquote {
  color: var(--text-color-tertiary);
}

.anchor {
  position: relative;
}

.anchor span {
  color: var(--text-color-header);
}

section.cover .cover-main {
  margin: 20vh 20vw;
}

.app-name-link {
  white-space: nowrap;
}

.app-sub-sidebar li:before {
  display: none;
}

.markdown-section p {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-section ul {
  margin-top: 0;
}

.markdown-section p + p {
  margin-top: 1rem;
}

.markdown-section code, .markdown-section pre {
  background-color: var(--background-light);
  color: var(--text-color-base);
}

.markdown-section pre > code {
  background-color: var(--background-light);
  color: var(--text-color-base);
  font-size: 1em;
  line-height: 1.5;
}

.markdown-section code {
  display: inline-block;
  font-family: 'Fira Code', monospace;
}

.markdown-section pre {
  padding: 2rem;
}

.markdown-section pre > code {
  padding: 0;
}

.markdown-section hr {
  border-bottom: 5px solid transparent;
}


.markdown-section {
  max-width: 75rem;
  padding: 1rem 3rem;
}

.markdown-section ol, .markdown-section p, .markdown-section ul {
  line-height: inherit;
}

.markdown-section code {
  color: inherit;
  border-radius: 0;
  font-size: 0.9em;
  padding: 0px 10px;
  /* color: #111; */
}

.markdown-section table {
  display: table;
}

.markdown-section table tr {
  border-width: 0.2rem 0;
  border-style: solid;
  border-color: var(--border-color);
}

.markdown-section table tr:nth-child(2n) {
  background-color: transparent;
}

.markdown-section table td,
.markdown-section table th {
  border: none;
  padding: 1.5rem 0.5rem;
  text-align: left;
}

.markdown-section table td p {
  margin: 0;
}

.markdown-section a {
  text-decoration: none;
  border-bottom: 0.1rem solid var(--theme-color-light);
  transition: all 0.3s ease;
}

.markdown-section a:hover {
  border-color: var(--theme-color);
  color: var(--theme-color-dark);
}

.markdown-section h1, .markdown-section h2, .markdown-section h3, .markdown-section h4, .markdown-section strong {
  color: var(--text-color-header);
}


/* Badges */
.markdown-section > p:first-child > a {
  border: none;
}

.docsify-copy-code-button {
  background: var(--theme-color);
}

.sidebar::-webkit-scrollbar {
  width:0;
}

.github-edit-btn {
  z-index: 100;
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:var(--theme-color);
  border-radius:50px;
  text-align:center;
  box-shadow: 1px 1px 1px var(--shadow-color);
}

.github-edit-btn svg {
  margin-top:18px;
}

.docsify-pagination-container {
  justify-content: center !important;
}

.pagination-item {
  max-width: 40%;
}

.pagination-item--next {
  margin-left: 1em !important;
}

.pagination-item--previous {
  margin-right: 1em;
}

@media (max-width: 768px) {

  .home-logo {
    display: none;
  }

  aside.sidebar {
    width: 300px;
  }

  body.close .sidebar {
    transform: translateX(300px);
  }

  body .sidebar-toggle span {
    background-color: var(--theme-color-secondary);
  }


  body.close .sidebar-toggle span {
    background-color: var(--text-color-active);
  }

  .sidebar-toggle:hover span:nth-child(1), .sidebar-toggle:hover span:nth-child(2), .sidebar-toggle:hover span:nth-child(3) {
    transform: none;
    width:  1.5rem;
    opacity: 1;
  }

  .close .sidebar-toggle span:nth-child(1), .close .sidebar-toggle:hover span:nth-child(1) {
    transform: rotate(45deg);
    width: 1.75rem;
    top: 0.65rem;
  }

  .close .sidebar-toggle span:nth-child(2), .close .sidebar-toggle:hover span:nth-child(2) {
    opacity: 0;
  }

  .close .sidebar-toggle span:nth-child(3), .close .sidebar-toggle:hover span:nth-child(3) {
    transform: rotate(-45deg);
    width: 1.75rem;
    top: 0.65rem;
  }

  body.close .sidebar-toggle {
    background: none;
  }

  .markdown-section pre, .markdown-section pre > code {
    font-size: 0.8em;
  }

  .github-edit-btn {
    display: none;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 112.5%;
  }
}

@media (min-width: 1400px) {
  body {
    font-size: 125%;
  }
}